/BS Notes/
/*.tmp
/Software/Code Playground/RemoteSystemsTempFiles
/Software/.metadata

/Software/.metadata
/Software/RemoteSystemsTempFiles

/Software/MCUTNC/.settings

*.s##
*.s#1
*.s#2
*.s#3
*.s#4
*.s#5

*/.settings/language.settings.xml
